/*
--- 01 TYPOGRAHPY SYSTEM ---

-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700 


- Line heights: 
Default: 1
Small 1.05
Medium: 1.2
Large: 1.8
Paragraph default1.6

- Letter Spacing 
-0.5px
0.75px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Raleway";
  scroll-behavior: smooth;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  background-color: #222;
}

@font-face {
  font-family: "superline-italic";
  src: url(../../assets/fonts/superline-italic-webfont.woff2) format("woff2");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
@font-face {
  font-family: "superline-line";
  src: url(../../assets/fonts/superline-line-webfont.woff2) format("woff2");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
@font-face {
  font-family: "superline-line-italic";
  src: url(../../assets/fonts/superline-lineitalic-webfont.woff2) format("woff2");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
@font-face {
  font-family: "superline-outlineitalic";
  src: url(../../assets/fonts/superline-outlineitalic-webfont.woff2) format("woff2");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
@font-face {
  font-family: "superline-regular";
  src: url(../../assets/fonts/superline-regular-webfont.woff2) format("woff2");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
@font-face {
  font-family: "mp-14";
  src: url("../../assets/Icons/fonts/mp-14.woff2"), url("../../assets/Icons/fonts/mp-14.woff");
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}
/* base class */
.icon {
  display: inline-block;
  font: normal normal normal 1em/1 "mp-14";
  color: inherit;
  flex-shrink: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-orange {
  color: #ff8019;
}

.icon--primary {
  color: #a0fc2a;
}

.icon-center {
  margin: 10rem !important;
}

.icon-box {
  margin-left: 10rem;
}

/* size examples - relative units */
.icon-sm {
  font-size: 0.8em;
}

.icon-lg {
  font-size: 5em;
}

/* icons */
.icon-24-hours::before {
  content: "\ea01";
}

.icon-Asset-14::before {
  content: "\ea02";
}

.icon-address::before {
  content: "\ea03";
}

.icon-airplane-flight::before {
  content: "\ea04";
}

.icon-basket::before {
  content: "\ea05";
}

.icon-branding::before {
  content: "\ea06";
}

.icon-bus-journey::before {
  content: "\ea07";
}

.icon-calendar::before {
  content: "\ea08";
}

.icon-chat-bubble::before {
  content: "\ea09";
}

.icon-coach-whistle::before {
  content: "\ea0a";
}

.icon-compass::before {
  content: "\ea0b";
}

.icon-contact::before {
  content: "\ea0c";
}

.icon-contact-online::before {
  content: "\ea0d";
}

.icon-credit-card::before {
  content: "\ea0e";
}

.icon-cruise-ship::before {
  content: "\ea0f";
}

.icon-delivery::before {
  content: "\ea10";
}

.icon-diploma::before {
  content: "\ea11";
}

.icon-email::before {
  content: "\ea12";
}

.icon-firecracker::before {
  content: "\ea13";
}

.icon-fish::before {
  content: "\ea14";
}

.icon-fitness-tracker::before {
  content: "\ea15";
}

.icon-gift::before {
  content: "\ea16";
}

.icon-graph::before {
  content: "\ea17";
}

.icon-gym::before {
  content: "\ea18";
}

.icon-handshake::before {
  content: "\ea19";
}

.icon-help-planet::before {
  content: "\ea1a";
}

.icon-hiking-trip::before {
  content: "\ea1b";
}

.icon-holiday-event::before {
  content: "\ea1c";
}

.icon-home::before {
  content: "\ea1d";
}

.icon-hotell-building::before {
  content: "\ea1e";
}

.icon-location::before {
  content: "\ea1f";
}

.icon-magnifying-glass::before {
  content: "\ea20";
}

.icon-mail::before {
  content: "\ea21";
}

.icon-market-growth::before {
  content: "\ea22";
}

.icon-message::before {
  content: "\ea23";
}

.icon-mobile::before {
  content: "\ea24";
}

.icon-number-one::before {
  content: "\ea25";
}

.icon-painting::before {
  content: "\ea26";
}

.icon-phone-call::before {
  content: "\ea27";
}

.icon-planet-ecology::before {
  content: "\ea28";
}

.icon-price-tag::before {
  content: "\ea29";
}

.icon-psychology::before {
  content: "\ea2a";
}

.icon-recycling::before {
  content: "\ea2b";
}

.icon-responsive-design::before {
  content: "\ea2c";
}

.icon-restaurant::before {
  content: "\ea2d";
}

.icon-rocketship::before {
  content: "\ea2e";
}

.icon-seaside-resort::before {
  content: "\ea2f";
}

.icon-service::before {
  content: "\ea30";
}

.icon-shopping-cart::before {
  content: "\ea31";
}

.icon-sponsorship::before {
  content: "\ea32";
}

.icon-stop-watch::before {
  content: "\ea33";
}

.icon-strength::before {
  content: "\ea34";
}

.icon-support::before {
  content: "\ea35";
}

.icon-training-days::before {
  content: "\ea36";
}

.icon-training-program::before {
  content: "\ea37";
}

.icon-travel-destination::before {
  content: "\ea38";
}

.icon-vacation-days::before {
  content: "\ea39";
}

.icon-veg-fruit::before {
  content: "\ea3a";
}

.icon-website::before {
  content: "\ea3b";
}

.icon-world::before {
  content: "\ea3c";
}

.icon-write-to-us::before {
  content: "\ea3d";
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.navigation__link:link, .navigation__link:visited {
  font-family: "superline-regular";
}

.heading-primary {
  font-family: "superline-regular";
  letter-spacing: 0.5rem;
  font-weight: normal !important;
}
.heading-primary__sub {
  font-family: "superline-line";
  letter-spacing: 0.9rem;
  color: #a0fc2a;
  font-weight: normal !important;
}

.heading-secondary {
  font-family: "superline-regular";
  font-size: 12rem;
  letter-spacing: 0.5rem;
  color: #a0fc2a;
  font-weight: normal !important;
}
.heading-secondary--line {
  font-family: "superline-line";
  font-weight: normal !important;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 6rem;
  }
}
.heading-secondary--orange {
  color: #ff8019;
}
.heading-secondary-sub {
  font-family: "superline-outlineitalic";
  font-size: 6rem;
  color: #a0fc2a;
  letter-spacing: 0.8rem;
  font-weight: normal !important;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary-sub {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary-sub {
    font-size: 3rem;
  }
}

.heading-secondary--outline {
  font-family: "superline-outlineitalic";
  font-size: 12rem;
  letter-spacing: 0.5rem;
  color: #a0fc2a;
  font-weight: normal !important;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary--outline {
    font-size: 9rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary--outline {
    font-size: 7rem;
  }
}

.heading-secondary--outline--orange {
  letter-spacing: 0.5rem;
  color: #ff8019;
  font-weight: normal !important;
}

.heading-tertiary {
  font-family: "superline-outlineitalic";
  color: #a0fc2a;
  font-size: 6rem;
  letter-spacing: 0.4rem;
  font-weight: normal !important;
}
@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 5rem;
  }
}
.heading-tertiary--orange {
  color: #ff8019;
}

.heading-fourth {
  font-family: "superline-regular";
  color: #a0fc2a;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  font-weight: normal !important;
}
.heading-fourth--orange {
  color: #ff8019;
}

@media only screen and (max-width: 37.5em) {
  .big-text {
    display: none;
  }
}

.small-text {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .small-text {
    display: block;
  }
}

.about__description {
  font-size: 1.8rem;
  color: #ccc;
}

.steps__number {
  font-family: "superline-outlineitalic";
  font-size: 24rem;
  color: #a0fc2a;
  font-weight: normal !important;
}

.steps__number--orange {
  color: #ff8019;
}

.steps__step-headline {
  font-family: "superline-regular";
  color: #a0fc2a;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: normal !important;
}

.steps__step-headline--orange {
  color: #ff8019;
  font-size: 4rem;
  letter-spacing: 0.4rem;
}

.steps__step-description {
  color: #fff;
  font-size: 1.8rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.u-center-text {
  text-align: center !important;
}

.u-center-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 15rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-huge {
    margin-bottom: 10rem !important;
  }
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-medium {
    margin-top: 3rem !important;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-margin-top-medium {
    margin-top: 2rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-minus-huge {
  margin-top: -10rem !important;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.1s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--secondary {
  background-color: #a0fc2a;
  color: #000;
}
.btn--secondary::after {
  background-color: #a0fc2a;
}
.btn--tertiary {
  background-color: #ff8019;
  color: #000;
}
.btn--tertiary::after {
  background-color: #cc6614;
}
.btn--green {
  background-color: #a0fc2a;
  color: #fff;
}
.btn--green::after {
  background-color: #a0fc2a;
}
.btn--outline:link, .btn--outline:visited, .btn--outline:active, .btn--outline:focus {
  font-size: 1.4rem;
  color: #a0fc2a;
  box-shadow: inset 0 0 0 2px #a0fc2a;
  transition: all 0.2s;
}
.btn--outline:link::after, .btn--outline:visited::after, .btn--outline:active::after, .btn--outline:focus::after {
  box-shadow: inset 0 0 4px #a0fc2a;
}
.btn--outline:link:hover, .btn--outline:visited:hover, .btn--outline:active:hover, .btn--outline:focus:hover {
  transform: translateY(-3px);
  box-shadow: inset 0 0 0 4px #a0fc2a, 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.btn--outline:link:hover::after, .btn--outline:visited:hover::after, .btn--outline:active:hover::after, .btn--outline:focus:hover::after {
  transform: scaleX(1.6) scaleY(1.9);
  opacity: 0;
}
.btn--outline-tertiary:link, .btn--outline-tertiary:visited, .btn--outline-tertiary:active, .btn--outline-tertiary:focus {
  color: #ff8019;
  box-shadow: inset 0 0 0 2px #ff8019;
}
.btn--outline-tertiary:link::after, .btn--outline-tertiary:visited::after, .btn--outline-tertiary:active::after, .btn--outline-tertiary:focus::after {
  box-shadow: inset 0 0 4px #ff8019;
}
.btn--outline-tertiary:link:hover, .btn--outline-tertiary:visited:hover, .btn--outline-tertiary:active:hover, .btn--outline-tertiary:focus:hover {
  box-shadow: inset 0 0 0 4px #ff8019, 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.btn--outline-big:link, .btn--outline-big:visited, .btn--outline-big:active, .btn--outline-big:focus {
  font-size: 2.4rem;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.8s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #a0fc2a;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-bottom: 1px solid #a0fc2a;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #a0fc2a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.camps {
  transform: skewY(5deg);
}
.camps__headline {
  padding-top: 8rem;
  text-align: center;
  transform: skewY(5deg);
}
.camps__box {
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  background-color: #111;
}
.camps__box__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.camps__box__picture-1 {
  background-image: url(/assets/img/volleyball-indoor-pic.jpg);
}
.camps__box__picture-2 {
  background-image: url(/assets/img/camp-outdoor-pic.jpg);
  background-position-y: 40%;
}
.camps__box__picture-croatia {
  background-image: url(/assets/flags/croatia.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-spain {
  background-image: url(/assets/flags/spain.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-italy {
  background-image: url(/assets/flags/italy.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-austria {
  background-image: url(/assets/flags/austria.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-portugal {
  background-image: url(/assets/flags/portugal.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-greece {
  background-image: url(/assets/flags/greece.jpg);
  filter: grayscale(0.7);
}
.camps__box__picture-norway {
  background-image: url(/assets/flags/norway.jpg);
  filter: grayscale(0.7);
}
.camps__box--mp14 {
  transition: transform 0.3s;
  grid-column: 2/4;
}
@media only screen and (max-width: 37.5em) {
  .camps__box--mp14 {
    grid-column: 1/2;
  }
}
.camps__box--mp14:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.camps__box--other {
  transition: transform 0.3s;
}
.camps__box--other:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.camps__heading {
  margin-top: 2rem;
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.camps__heading-1 {
  color: #a0fc2a;
}
.camps__heading-2 {
  color: #ff8019;
}
.camps__details {
  padding: 3rem;
  color: #ccc;
}
.camps__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.camps__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.camps__details-1 li:not(:last-child) {
  border-bottom: 1px solid #a0fc2a;
}
.camps__details-2 li:not(:last-child) {
  border-bottom: 1px solid #ff8019;
}
.camps__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}

.cta {
  box-shadow: inset 0 0 0 1px #ff8019;
  border-radius: 10px;
  padding: 0.5rem 0.25rem;
  column-gap: 0;
}
.cta--primary {
  box-shadow: inset 0 0 0 1px #a0fc2a;
}
.cta__image-box {
  grid-column: 2/3;
  grid-row: 1/-1;
}
@media only screen and (max-width: 37.5em) {
  .cta__image-box {
    grid-column: 1/-1;
    grid-row: 2;
  }
}
.cta__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.cta h2 {
  text-align: center;
}
.cta__heading-box {
  margin-bottom: 2rem;
}
.cta__description {
  font-size: 1.8rem;
  color: #aaa;
  text-align: center;
  margin-bottom: 3rem;
}
.cta__form-box {
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta__form {
  column-gap: 1rem;
  row-gap: 1.5rem;
}
.cta__form__name {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
.cta__form__email {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
.cta__form__sport {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
.cta__form__city {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
.cta__form__phone {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
}
.cta__form__message {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
}
.cta__form__button {
  grid-column: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.cta__form input {
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: #aaa;
}
.cta__form textarea {
  color: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  background-color: #aaa;
}
.cta__form label {
  color: #ccc;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.cta__form input.btn--tertiary {
  background-color: #ff8019;
}
.cta__form input.btn--primary {
  background-color: #a0fc2a;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px)) {
  .popup {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 85%;
  background-color: #111;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: scroll;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.4s 0.2s;
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
@media only screen and (max-width: 75em) {
  .popup__content {
    width: 85%;
  }
}
@media only screen and (max-width: 75em) {
  .popup__left {
    vertical-align: middle;
  }
}
.popup__right {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  color: #999;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #777;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}
.popup__details {
  list-style: none;
  width: 80%;
  margin: 0 auto 6rem auto;
}
.popup__details li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #ccc;
}
.popup-1 li:not(:last-child) {
  border-bottom: 1px solid #a0fc2a;
}
.popup-2 li:not(:last-child) {
  border-bottom: 1px solid #ff8019;
}
.popup__btn {
  color: #222;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 5rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 3;
}
.popup__close:hover {
  color: #a0fc2a;
}
@media only screen and (max-width: 56.25em) {
  .popup__content {
    display: block;
    overflow: scroll;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.4s 0.2s;
    width: 85%;
  }
  .popup__left {
    width: 100%;
    display: inline-block;
  }
  .popup__right {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 2rem 4rem;
  }
  .popup__img {
    position: absolute;
    z-index: -99;
    opacity: 0.35;
    height: 100%;
  }
  .popup__img:not(:last-child) {
    visibility: hidden;
  }
  .popup__text {
    column-count: 2;
    text-align: left;
    column-gap: 4rem;
    column-rule: 1px solid #777;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }
}
@media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
  .popup__text {
    font-size: 3rem;
    column-gap: 2rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .popup:target {
    opacity: 1;
    visibility: visible;
  }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 6rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1;
  }
  .popup__close:hover {
    color: #a0fc2a;
  }
}

.info__faq {
  background-color: transparent;
  border: 1px solid #444;
  width: 40%;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 3rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in;
}
@media only screen and (max-width: 56.25em) {
  .info__faq {
    width: 60%;
  }
}
@media only screen and (max-width: 37.5em) {
  .info__faq {
    width: 80%;
  }
}
.info__faq-title {
  color: #aaa;
  font-size: 2.2rem;
  margin: 0 3.5rem 0 0;
}
.info__faq-text {
  color: #000;
  line-height: 1.7;
  font-size: 1.8rem;
  font-weight: 500;
  display: none;
  margin: 3rem 0 0;
}
.info__faq--toggle {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 0;
  position: absolute;
  top: 2.45rem;
  right: 2.45rem;
  height: 2.45rem;
  width: 2.45rem;
}
.info__faq--toggle:focus {
  outline: 0;
}
.info__faq--toggle .inline-icon--close {
  display: none;
}
.info__faq--active {
  background-color: #555;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
.info__faq--active .info__faq-title {
  color: #222;
}
.info__faq--active .info__faq-text {
  display: block;
}
.info__faq--active .info__faq--toggle .inline-icon--close {
  display: block;
}
.info__faq--active .info__faq--toggle .inline-icon--chevron {
  display: none;
}

.features__headline-box {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.features .feature-box {
  padding: 3rem 2rem 6rem 2rem;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #ff8019;
  width: 100%;
}
.features .feature-box__text {
  font-size: 1.8rem;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navigation {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 56.25em) {
  .navigation {
    grid-template-columns: repeat(1, 1fr);
  }
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #333;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 1rem;
    right: 1.5rem;
    height: 5rem;
    width: 5rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#444, #222);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 1rem;
    right: 1.5rem;
    height: 5rem;
    width: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 1rem;
    right: 1rem;
  }
}
.navigation__background--inactive {
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  transform: scale(0);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0%;
  z-index: 1500;
  opacity: 50%;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6), displa;
}
.navigation__nav--inactive {
  left: -50%;
  transition: all 0.8s;
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 0.66rem;
  padding: 1rem 2rem;
  color: #a0fc2a;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 55%, #a0fc2a 50%);
  background-size: 260%;
  transition: all 0.6s;
}
@media only screen and (max-width: 56.25em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 4.5rem;
  }
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #444;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__icon {
    margin-top: 2.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__icon {
    height: 5rem;
  }
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #a0fc2a;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.navigation__link--orange:link,
.navigation__link--orange:visited {
  color: #ff8019;
  background-image: linear-gradient(120deg, transparent 0%, transparent 55%, #ff8019 50%);
}
.navigation__link--orange:link:hover, .navigation__link--orange:link:active,
.navigation__link--orange:visited:hover,
.navigation__link--orange:visited:active {
  background-position: 100%;
  color: #444;
  transform: translateX(1rem);
}

.navigation__icon--orange, .navigation__icon--orange::before, .navigation__icon--orange::after {
  background-color: #ff8019;
}

.navigation__checkbox--orange:checked + .navigation____button--orange .navigation____icon--orange {
  background-color: transparent;
}

.header {
  position: relative;
}
.header__logo-box {
  position: fixed;
  top: 3.5rem;
  left: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
@media only screen and (max-width: 56.25em) {
  .header__logo-box {
    top: 1.5rem;
    left: 0.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    left: 0.5rem;
  }
}
.header__logo {
  height: 12rem;
}
@media only screen and (max-width: 56.25em) {
  .header__logo {
    height: 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    height: 5rem;
  }
}
.header__video-box {
  position: relative;
}
.header__video-box__bg-video {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header__video-box__bg-video__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transform: translate3d(0, 0, 0);
}
.header__video-box__bg-video__text {
  position: absolute;
  transform: translate3d(0, 0, 0);
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: #000;
  color: #777;
  text-align: center;
  text-transform: uppercase;
  mix-blend-mode: multiply;
}
.header__video-box__bg-video__text__center {
  font-size: 18vw;
  line-height: 100vh;
}
@media only screen and (max-width: 37.5em) {
  .header__video-box__bg-video__text__center {
    font-size: 35rem;
  }
}
.header__video-box__bg-video__text__top,
.header__video-box__bg-video__text .header__video-box__bg-video.span {
  z-index: 999;
  font-size: 5vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 56.25em) {
  .header__video-box__bg-video__text__top,
  .header__video-box__bg-video__text .header__video-box__bg-video.span {
    top: 25%;
    font-size: 5vw;
    letter-spacing: 0.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__video-box__bg-video__text__top,
  .header__video-box__bg-video__text .header__video-box__bg-video.span {
    left: 50%;
    font-size: 4rem;
    letter-spacing: 0.6rem;
    top: 20%;
    text-align: center;
  }
}
.header__video-box__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25vh;
  z-index: 9999;
}
@media only screen and (max-width: 37.5em) {
  .header__video-box__button-box {
    margin-top: -25vh;
  }
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
@media only screen and (max-width: 56.25em) {
  .grid {
    row-gap: 4rem;
  }
}

.grid--big-gap {
  row-gap: 20rem;
  display: grid;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid--2-cols--single {
  grid-template-columns: 2, 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .grid--3-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 37.5em) {
  .grid--4-cols {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 4;
}

.grid--cta-main {
  display: grid;
  grid-template-columns: 60% 40%;
}
@media only screen and (max-width: 37.5em) {
  .grid--cta-main {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid--center-v {
  align-items: center;
}

.steps {
  background-color: #222;
}
.steps__headline {
  margin: 20vh 0 5rem 0;
  text-align: center;
  grid-column: 1/-1;
}
.steps__img-box {
  display: grid;
  margin: -18vh 0 2vh 0;
}
.steps__img-box--right {
  grid-column: 2/-1;
}
.steps__img-box--left {
  grid-column: 1/2;
}
.steps__img {
  width: 75%;
  object-fit: cover;
  filter: grayscale(100%);
  display: flex;
  justify-self: center;
  align-items: center;
}
.steps__img-1 {
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 5vh, 100% 0, 100% 100%, 0 100%);
  margin-top: 10rem;
}
.steps__step-text-box {
  margin-top: -10vh;
  display: flex;
  gap: 5rem;
  align-items: center;
}
.steps__step-text-box--right {
  grid-column: 2/-1;
}
.steps__number {
  display: flex;
  justify-content: end;
  width: 100%;
}
.steps__step-description-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}
.steps__step-headline {
  display: flex;
  justify-self: start;
  align-items: start;
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  grid-column: 2/3;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  grid-row: 2;
  border-top: 1px solid #999;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    grid-row: 1;
    grid-column: span 2;
    width: 100%;
    text-align: center;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link {
  margin-bottom: 1rem;
}
.footer__link:link, .footer__link:visited {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  padding: 0.2rem 0.4rem;
  border-radius: 2px;
}
.footer__link:hover, .footer__link:active {
  color: #a0fc2a;
  background-color: #555;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright-box {
  grid-row: 2;
  grid-column: 3/4;
  border-top: 1px solid #999;
  padding-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright-box {
    grid-row: 1;
  }
}
.footer__copyright {
  width: 100%;
}
.footer__copyright-link {
  color: #a0fc2a;
}
.footer__copyright:not(:last-child) {
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    text-align: center;
    float: none;
  }
}

.footer__link--orange:link:hover, .footer__link--orange:link:active,
.footer__link--orange:visited:hover,
.footer__link--orange:visited:active {
  color: #ff8019;
}

.footer__copyright-link--orange {
  color: #ff8019;
}
.footer__copyright-link--orange:hover, .footer__copyright-link--orange:active {
  color: #ff8019;
}

.about__description {
  margin-top: 3rem;
}
.about__link-box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .about__img-box--host {
    grid-row-start: 4;
  }
}
.about__photo {
  width: 100%;
  object-fit: cover;
  filter: grayscale(80%);
}

.mp14-header {
  padding: 12rem 0rem 24rem 0;
  background-color: #111;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 999;
}
.mp14-header__headline-box {
  margin-bottom: 12rem;
  text-align: center;
}
.mp14-header__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mp14-header__text-box .heading-tertiary {
  text-align: center;
}
.mp14-header__description {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #999;
}
.mp14-header__photo {
  width: 100%;
  object-fit: cover;
  filter: grayscale(66%);
}
.mp14-header__button-box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp14-header-orange {
  padding: 12rem 0rem 24rem 0;
  background-color: #111;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.mp14-header-orange .mp14-header-orange__headline-box {
  margin-bottom: 12rem;
  text-align: center;
}
.mp14-header-orange__headline-box .heading-secondary-sub, .mp14-header-orange__headline-box .heading-secondary {
  color: #ff8019;
}
.mp14-header-orange__text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mp14-header-orange__text-box .heading-tertiary {
  text-align: center;
  color: #ff8019;
}
.mp14-header-orange__description {
  margin-top: 3rem;
  font-size: 1.6rem;
  color: #999;
}
.mp14-header-orange__photo {
  width: 100%;
  object-fit: cover;
  filter: grayscale(66%);
}
.mp14-header-orange__button-box {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-box {
  z-index: 9999;
}

.section-camps-selection {
  background-color: #222;
  padding: 0rem 0rem 24rem 0;
}

.section-about {
  background-color: #000;
  padding: 20rem 0 12rem 0;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    padding-bottom: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .section-about {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.section-camps {
  background-color: #222;
  padding: 8rem 0 10rem 0;
  margin-top: -12vh;
  transform: skewY(-5deg);
}

.mp14-header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.section-mp14 {
  transform: skewY(-5deg);
  margin-top: 10rem;
  margin-bottom: 20rem;
}
.section-mp14__headline {
  transform: skewY(5deg);
  grid-column: 1/-1;
}

.section-steps {
  background-color: #222;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  margin-top: -20vh;
  margin-bottom: 10vh;
}

.section-features {
  background-color: #222;
  padding: 15rem 0rem 0rem 0;
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  margin-top: -20vh;
}

.section-host_cta {
  padding: 9rem 0;
  margin-bottom: 9rem;
}

.all-camps-header {
  background-color: #222;
  padding: 12rem 0rem 12rem 0;
}

/*# sourceMappingURL=style.css.map */
