.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--big-gap {
  row-gap: 20rem;
  display: grid;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-cols--single {
  grid-template-columns: 2, 1fr;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--6-cols-form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 4;
}

.grid--cta-main {
  display: grid;
  grid-template-columns: 60% 40%;
}

.grid--center-v {
  align-items: center;
}
