.camps {
  transform: skewY(5deg);

  &__headline {
    padding-top: 8rem;
    text-align: center;

    transform: skewY(5deg);
  }

  &__box {
    border-radius: 3px;
    box-shadow: $shadow-big;
    background-color: #111;

    &__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &-1 {
        background-image: url(/assets/img/volleyball-indoor-pic.jpg);
      }
      &-2 {
        background-image: url(/assets/img/camp-outdoor-pic.jpg);
        background-position-y: 40%;
      }

      &-croatia {
        background-image: url(/assets/flags/croatia.jpg);
        filter: grayscale(0.7);
      }
      &-spain {
        background-image: url(/assets/flags/spain.jpg);
        filter: grayscale(0.7);
      }
      &-italy {
        background-image: url(/assets/flags/italy.jpg);
        filter: grayscale(0.7);
      }
      &-austria {
        background-image: url(/assets/flags/austria.jpg);
        filter: grayscale(0.7);
      }
      &-portugal {
        background-image: url(/assets/flags/portugal.jpg);
        filter: grayscale(0.7);
      }
      &-greece {
        background-image: url(/assets/flags/greece.jpg);
        filter: grayscale(0.7);
      }
      &-norway {
        background-image: url(/assets/flags/norway.jpg);
        filter: grayscale(0.7);
      }
    }
    &--mp14 {
      transition: transform 0.3s;
      grid-column: 2 / 4;

      @include respond(phone) {
        grid-column: 1 / 2;
      }

      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
    &--other {
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }

  &__heading {
    margin-top: 2rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;

    &-1 {
      color: $color-primary;
    }
    &-2 {
      color: $color-tertiary;
    }
  }

  &__details {
    padding: 3rem;
    color: $color-grey-light-5;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
      }
    }
    &-1 {
      li:not(:last-child) {
        border-bottom: 1px solid $color-primary;
      }
    }
    &-2 {
      li:not(:last-child) {
        border-bottom: 1px solid $color-tertiary;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
