*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  font-family: "Raleway";

  @include respond(tab-land) {
    font-size: 56.25%; // 1 rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; // 1 rem = 8px
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px
  }
}

body {
  box-sizing: border-box;
}

// FONTS
@font-face {
  font-family: "superline-italic";
  src: url(../../assets/fonts/superline-italic-webfont.woff) format("woff");
}

@font-face {
  font-family: "superline-line";
  src: url(../../assets/fonts/superline-line-webfont.woff) format("woff");
}

@font-face {
  font-family: "superline-line-italic";
  src: url(../../assets/fonts/superline-lineitalic-webfont.woff) format("woff");
}

@font-face {
  font-family: "superline-outlineitalic";
  src: url(../../assets/fonts/superline-outlineitalic-webfont.woff)
    format("woff");
}

@font-face {
  font-family: "superline-regular";
  src: url(../../assets/fonts/superline-regular-webfont.woff) format("woff");
}
