.section-about {
  background-color: $color-black;
  padding: 15rem 0 25rem 0;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  text-align: center;
}

.section-camps {
  background-color: $color-black-dark-2;
  padding-bottom: 20rem;
  margin-top: -12vh;
  transform: skewY(-5deg);
}
