.mp14-header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.section-mp14 {
  transform: skewY(-5deg);
  margin-top: 10rem;
  margin-bottom: 20rem;

  &__headline {
    transform: skewY(5deg);
    grid-column: 1 / -1;
  }
}

.section-steps {
  background-color: $color-black-dark-2;

  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);

  margin-top: -20vh;
  margin-bottom: 10vh;
}
