// COLORS
$color-white: #fff;
$color-black: #000;
$color-black-dark-1: #111;
$color-black-dark-2: #222;
$color-black-light-1: #333;
$color-black-light-2: #444;

$color-primary-light-3: #d9feaa;
$color-primary-light-2: #c6fd7f;
$color-primary-light-1: #b3fd55;
$color-primary: #a0fc2a;
$color-primary-dark-1: #90e326;
$color-primary-dark-2: #80ca22;

$color-secondary-light-3: #dbe7fb;
$color-secondary-light-2: #c8daf8;
$color-secondary-light-1: #b6cef6;
$color-secondary: #a4c2f4;
$color-secondary-dark-1: #94afdc;
$color-secondary-dark-2: #839bc3;

$color-tertiary-light-3: #ffcca3;
$color-tertiary-light-2: #ffb375;
$color-tertiary-light-1: #ff9947;
$color-tertiary: #ff8019;
$color-tertiary-dark-1: #e67317;
$color-tertiary-dark-2: #cc6614;

// grey-colors
$color-grey-light-3: #999;
$color-grey-light-2: #777;
$color-grey-light-1: #555;

// SHADOW
$shadow-big: 0 1.5rem 4rem rgba($color-black, 0.15);

// BORDER RADIUS
$border-radius-small: 3px;

// FONT
$default-font-size: 1.6rem;
$small-font-size: 1.4rem;
$medium-big-font-size: 2rem;
$big-font-size: 2.4rem;
$bigger-font-size: 3rem;

/*
--- 01 TYPOGRAHPY SYSTEM ---

-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights: 
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700 


- Line heights: 
Default: 1
Small 1.05
Medium: 1.2
Large: 1.8
Paragraph default1.6

- Letter Spacing 
-0.5px
0.75px

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128*/
